Ignore/
*.pptx
*.ppt
*.odt
BSR/
*.tgz
*solution*
solution/
_data/
*.pyc
.ipynb*
.vscode
data/
.quickdrawcache/
clone/
cifar-10-batches-py/
dataOld/
html/
_html/
www
08-PHOW/data
vlfeat
*/matlab/data
*/python/data
*.csv
11-NN/data
